body {
  background-color: #f7f9f8;
}
p {
  margin-bottom: 0rem;
}
.m-arrange-icon-Onetwo ul {
  margin-top: 0.2rem;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
}
.m-arrange-icon-Onetwo ul li:first-child {
  border-right: 1px solid #e2e2e2;
}
.m-arrange-icon-Onetwo ul li:first-child a {
  margin-top: 0rem;
  padding-bottom: 0.8rem;
  padding-top: 0.8rem;
}
.m-arrange-icon-Onetwo ul li:first-child a img {
  display: inline-block;
  width: 1.8rem;
}
.m-arrange-icon-Onetwo ul li:first-child .m-font-title {
  font-size: 0.42rem;
  line-height: 1.4;
  color: #2B2B2B;
}
.m-arrange-icon-Onetwo ul li:first-child .m-font-content {
  line-height: 1.4;
  font-size: 0.34rem;
  color: #888888;
}
.m-arrange-icon-Onetwo ul li:last-child div {
  padding: 0.3rem 0rem;
}
.m-arrange-icon-Onetwo ul li:last-child div a {
  padding-left: 33%;
}
.m-arrange-icon-Onetwo ul li:last-child div a img {
  vertical-align: middle;
  width: 0.9rem;
  height: 0.9rem;
  line-height: 0.9rem;
  max-width: 0.9rem;
}
.m-arrange-icon-Onetwo ul li:last-child div a div {
  text-align: left;
  display: inline-block;
  margin: 0rem 0.2rem;
  vertical-align: middle;
}
.m-arrange-icon-Onetwo ul li:last-child div a div p {
  margin-bottom: 0rem;
}
.m-arrange-icon-Onetwo ul li:last-child div:first-child {
  border-bottom: 1px solid #e2e2e2;
}
.m-arrange-icon-Onetwo ul li:last-child .m-font-title {
  font-size: 0.42rem;
  line-height: 1.4;
  color: #2B2B2B;
}
.m-arrange-icon-Onetwo ul li:last-child .m-font-content {
  line-height: 1.4;
  font-size: 0.34rem;
  color: #888888;
}
.m-arrange-icon-Onetwo .mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-object {
  width: 1.6rem;
}
.line {
  color: #E1E1E1;
  height: 0.24rem;
  background-color: #efeff4;
}
.m-arrage-recommend {
  font-size: 0.34rem;
  background-color: #FFF;
  line-height: 1.2;
  margin-bottom: 0rem;
  border-bottom: 1px solid #e2e2e2;
}
.m-arrage-recommend p:first-child {
  padding: 0.2rem 0rem;
  margin-bottom: 0rem;
}
.m-arrage-recommend p:first-child span {
  font-size: 0.34rem;
  margin: 0.2rem 0.4rem 0rem;
}
.m-arrage-recommend p:first-child span img {
  width: 0.33rem;
  margin: 0rem 0.12rem;
  vertical-align: middle;
}
.m-arrange-recomDoc {
  height: 1.46rem;
  display: table;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-top: 0.2rem;
  background-color: #FFF;
}
.m-arrange-recomDoc .m-arrange-Doc {
  height: 2.9rem;
  width: 680px;
  white-space: nowrap;
  overflow-x: auto;
  margin-bottom: -0.02rem;
}
.m-arrange-recomDoc .m-arrange-Doc a div {
  margin: auto;
}
.m-arrange-recomDoc .m-arrange-Doc a div img {
  width: 1.6rem;
}
.m-arrange-recomDoc .m-arrange-Doc a div span {
  position: absolute;
  top: 1.3rem;
  left: 1.6rem;
  z-index: 11;
}
.m-arrange-recomDoc .m-arrange-Doc a div span img {
  width: 0.34rem;
}
.m-arrange-recomDoc .m-arrange-Doc a p {
  font-size: 0.34rem;
  margin-bottom: 0rem;
  line-height: 1.2;
}
.m-content-hospitalpri {
  margin: 0.2rem 0.13rem 0rem 0.13rem;
}
.m-content-hospitalpri .m-content-hostitle {
  font-size: 0.34rem;
  padding: 0.2rem 0rem;
  border-bottom: 1px solid #e2e2e2;
}
.m-content-hospitalpri .m-content-hostitle img {
  vertical-align: middle;
  width: 0.33rem;
  margin: 0rem 0.13rem;
}
.m-content-hospitalpri .m-content-hostitle span {
  font-size: 0.34rem;
  line-height: 1.2;
}
.m-content-hospitalpri .m-hospitalpri-hospimg {
  margin: 0rem 0.36rem 0rem 0rem;
  line-height: 1.4;
  height: 2.1rem;
  max-width: 2.1rem;
}
.m-content-hospitalpri .m-hospitalpri-content {
  margin-top: 0.32rem;
}
.m-content-hospitalpri .m-hospitalpri-content div:first-child {
  font-size: 0.42rem;
  line-height: 1.4;
  color: #001133;
  margin-bottom: 0.12rem;
}
.m-content-hospitalpri .m-hospitalpri-content p {
  font-size: 0.26rem;
  line-height: 1.4;
  color: #001133;
  margin-bottom: 0.12rem;
}
.m-content-hospitalpri .m-hospitalpri-content div:last-child {
  font-size: 0.24rem;
  line-height: 1.4;
  color: #001133;
}
.m-content-hospitalpri .m-hospitalpri-content div:last-child p {
  margin-top: 0.12rem;
  color: #888888;
}
.m-content-hospitalpri .m-hospitalpri-content div:last-child p img {
  width: 0.24rem;
}
.m-content-hospitalpri .m-hospitalpri-content div:last-child p span {
  margin-left: 0.16rem;
}
.m-content-hospitalpriNo {
  margin: 0.2rem 0rem 0rem 0rem;
}
/*医生基本详情*/
.c_doctorDe_basemass {
  text-align: center;
  padding-top: 0.46rem;
  background-color: #FFF;
}
.c_doctorDe_basemass p {
  font-size: 0.32rem;
  line-height: 1.2;
  color: #001133;
  margin-bottom: 0.26rem;
}
.c_doctorDe_basemass .c_doctorDe_bsimage {
  margin-bottom: 0.22rem;
}
.c_doctorDe_basemass .c_doctorDe_bsimage img {
  width: 3.2rem;
}
.c_doctorDe_basemass .c_doctorDe_bmname {
  font-size: 0.42rem;
  line-height: 1.2;
  font-weight: bolder;
}
.c_doctorDe_basemass .c_doctorDe_bmdepartment {
  font-size: 0.34rem;
  line-height: 1.2;
  font-weight: lighter;
}
.c_doctorDe_basemass .c_doctorDe_bmstar img {
  width: 0.5rem;
}
.c_doctorDe_basemass .c_doctorDe_bmadress {
  margin-bottom: 0rem;
  padding-bottom: 1.22rem;
}
.c_doctorDe_basemass .c_doctorDe_bmlanguage {
  color: #888888;
}
.c_doctordDe_baselabel {
  background-color: #FFF;
  padding-top: 0.26rem;
}
.c_doctordDe_baselabel div {
  width: 32%;
  display: inline-block;
  text-align: center;
}
.c_doctordDe_baselabel div p:first-child {
  font-size: 0.53rem;
  line-height: 1.2;
  margin-bottom: 0.32rem;
}
.c_doctordDe_baselabel div p:last-child {
  font-size: 0.42000000000000004rem;
  line-height: 1.2;
  margin-bottom: 0rem;
}
.c_doctordDe_baselabel div:first-child p:first-child {
  color: #001133;
}
.c_doctordDe_baselabel div:last-child p:first-child {
  color: #ff5f5a;
}
/*医生详情页的咨询样式，已废弃*/
.c_doctorDe_bmoperation {
  padding: 0.54rem 0.32rem 0.46rem;
  background-color: #FFF;
}
.c_doctorDe_bmoperation button {
  height: 1.34rem;
  background-color: #1c61dd;
  font-size: 0.45999999999999996rem;
  line-height: 1.2;
  color: #FFF;
  width: 100%;
  border-radius: 0.68rem;
}
.c_doctorDe_bmbasepackage p {
  background-color: #FFF;
  color: #001133;
  padding: 0.04rem 0.22rem;
  font-size: 0.4rem;
  line-height: 1.2;
}
.c_doctorDe_bmbasepackage p span:first-child {
  color: #888888;
}
.c_doctorDe_bmbasepackage .packname {
  padding: 0.3rem 0.22rem;
}
.c_doctorDe_bmbasepackage p:first-child {
  border-top: 0.02rem solid #E5E5E5;
  padding: 0.38rem 0.22rem;
  font-size: 0.32rem;
  line-height: 1.2;
  color: #888888;
  background-color: #efeff4;
}
.c_doctorDe_bmbaseinfor p:first-child {
  border-top: 0.02rem solid #E5E5E5;
  padding: 0.38rem 0.22rem;
  font-size: 0.32rem;
  line-height: 1.2;
  color: #888888;
}
.c_doctorDe_bmbaseinfor p:nth-child(2) {
  background-color: #FFF;
  color: #001133;
  padding: 0.38rem 0.22rem;
  font-size: 0.4rem;
  line-height: 1.2;
}
.c_doctorDe_bmbaseinfor p:last-child input {
  width: 90%;
  font-size: 0.36000000000000004rem;
  line-height: 1.2;
  border: 0rem;
  margin-bottom: 0rem;
}
.c_doctorDe_bmbaseinfor .c_font_red span {
  color: #ff5f5a;
}
.c_doctorDe_bmbaseinforval .c_doctorDe_bmtitle {
  border-top: 0.02rem solid #E5E5E5;
  padding: 0.38rem 0.22rem;
  font-size: 0.32rem;
  line-height: 1.2;
}
.c_doctorDe_bmbaseinforval .c_doctorDe_bmtitle span:last-child {
  color: #1C61DD;
}
.c_doctorDe_bmbaseinforval .c_doctorDe_bmevaluate {
  background-color: #FFF;
  color: #001133;
  font-size: 0.4rem;
  line-height: 1.2;
}
.c_doctorDe_bmbaseinforval .c_doctorDe_bmevaluate p:first-child {
  font-size: 0.4rem;
  padding: 0.66rem 0.22rem;
}
.c_doctorDe_bmbaseinforval .c_doctorDe_bmevaluate p:first-child span:first-child {
  color: #001133;
}
.c_doctorDe_bmbaseinforval .c_doctorDe_bmevaluate p:first-child span {
  color: #1c61dd;
}
.c_doctorDe_bmbaseinforval .c_doctorDe_bmevaluate p:first-child span:last-child img {
  width: 0.38rem;
}
.c_doctorDe_bmbaseinforval .c_doctorDe_bmevaluate p:last-child {
  font-size: 0.4rem;
  padding: 0rem 0.22rem 0.66rem;
  border-bottom: 0.02rem solid #E5E5E5;
}
/*普通列表的样式*/
.c_choose_commonlist .c_choose_cmcontent {
  padding: 0.48rem 0rem 0.48rem 0.54rem;
  font-size: 0.4rem;
  line-height: 1.2;
  border-bottom: 0.02rem solid #E5E5E5;
  background-color: #FFF;
  color: #001133;
}
.c_choose_commonlist .c_choose_cmlineM {
  height: 0.48rem;
  background-color: #F7F9F8;
}
.c_choose_commonlist .c_choose_cmlineL {
  height: 0.2rem;
  background-color: #F7F9F8;
}
.c_choose_commonlist .c_choose_cmcontentB {
  padding: 0.48rem 0rem 0.48rem 0.54rem;
  font-size: 0.4rem;
  line-height: 1.2;
  border-bottom: 0.02rem solid #E5E5E5;
  background-color: #FFF;
  color: #001133;
}
.c_choose_commonlist .c_choose_cmcontentB img {
  width: 0.88rem;
  margin-right: 0.5rem;
  vertical-align: middle;
}
.c_choose_commonlist .c_choose_cmcontentB:hover {
  background-color: #E1E1E1;
}
/*套餐详情的价格展示样式*/
.c_listdetail_package {
  background-color: #FFF;
  padding-bottom: 0.4rem;
}
.c_listdetail_package p {
  font-size: 0.48rem;
  line-height: 1.2;
  color: #001133;
  font-weight: bolder;
  padding-top: 0.4rem;
  padding-left: 0.22rem;
}
.c_listdetail_package p:last-child {
  position: relative;
}
.c_listdetail_package .c_listdetail_price {
  display: inline-block;
  color: #FFF;
  background: no-repeat url(../../img/cdoc/private/cdoc_detialback.png);
  background-size: 100% 100%;
  padding: 0.1rem 0.52rem;
}
.c_listdetail_package .c_listdetail_people {
  position: absolute;
  top: 0.2rem;
  right: 0rem;
  margin-right: 0.5rem;
  text-align: center;
}
.c_listdetail_package .c_listdetail_people img {
  width: 0.28rem;
}
.c_listdetail_package .c_listdetail_people span {
  display: block;
  color: #888888;
  font-size: 0.26rem;
  margin-top: -0.13rem;
}
/*信用卡基本样式*/
.c_credit_list {
  background-color: #FFF;
  margin-top: 0.22rem;
}
.c_credit_list p {
  font-size: 0.36000000000000004rem;
  line-height: 1.2;
  color: #001133;
  padding: 0.2rem 0.3rem;
}
.c_credit_list p:first-child {
  border-bottom: 0.02rem solid #E5E5E5;
  padding: 0.36rem 0.3rem;
}
.c_credit_list p:first-child img {
  width: 0.88rem;
  margin-right: 0.5rem;
  vertical-align: middle;
}
.c_credit_base {
  margin: 0rem 0.22rem;
}
.c_credit_add .c_credit_form {
  font-size: 0.36000000000000004rem;
  line-height: 1.2;
}
.c_credit_add .c_credit_form div {
  border-bottom: 0.02rem solid #E5E5E5;
  padding: 0.3rem 0.3rem;
  vertical-align: middle;
}
.c_credit_add .c_credit_form div label {
  color: #001133;
  margin-right: 0.5rem;
}
.c_credit_add .c_credit_form div input {
  width: 75%;
  font-size: 0.36000000000000004rem;
  line-height: 1.2;
  border: 0rem;
  margin-bottom: 0rem;
}
/*基本下方悬浮按钮*/
.c_button_basestyle .c_button_basefull {
  color: #FFF;
  height: 1.34rem;
  line-height: 1.34rem;
  width: 100%;
  font-size: 0.44999999999999996rem;
  line-height: 1.2;
}
.c_button_basestyle .c_button_basehalf {
  color: #FFF;
  height: 1.34rem;
  line-height: 1.34rem;
  width: 50%;
  font-size: 0.44999999999999996rem;
  line-height: 1.2;
  display: inline-block;
}
.c_button_basestyle .c_button_addfull {
  color: #1c60dd;
  height: 1.34rem;
  line-height: 1.34rem;
  width: 100%;
  font-size: 0.44999999999999996rem;
  line-height: 1.2;
  margin: 0.8rem 0rem;
}
/*基础背景色*/
.c_background_red {
  background-color: #ff5f5a;
}
.c_background_blue {
  background-color: #1c60dd;
}
.c_background_shade {
  background-color: #888888;
}
/*基础字体样式*/
.c_font_blue {
  color: #1c60dd;
  text-decoration: underline;
}
/*# sourceMappingURL=physical.css.map */
