p {
  margin-bottom: 0rem;
}
.m-arrange-icon-Onetwo ul {
  margin-top: 0.2rem;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
}
.m-arrange-icon-Onetwo ul li:first-child {
  border-right: 1px solid #e2e2e2;
}
.m-arrange-icon-Onetwo ul li:first-child a {
  margin-top: 0rem;
  padding-bottom: 0.8rem;
  padding-top: 0.8rem;
}
.m-arrange-icon-Onetwo ul li:first-child a img {
  display: inline-block;
  width: 1.8rem;
}
.m-arrange-icon-Onetwo ul li:first-child .m-font-title {
  font-size: 0.42rem;
  line-height: 1.4;
  color: #2B2B2B;
}
.m-arrange-icon-Onetwo ul li:first-child .m-font-content {
  line-height: 1.4;
  font-size: 0.34rem;
  color: #888888;
}
.m-arrange-icon-Onetwo ul li:last-child div {
  padding: 0.3rem 0rem;
}
.m-arrange-icon-Onetwo ul li:last-child div a {
  padding-left: 33%;
}
.m-arrange-icon-Onetwo ul li:last-child div a img {
  vertical-align: middle;
  width: 0.9rem;
  height: 0.9rem;
  line-height: 0.9rem;
  max-width: 0.9rem;
}
.m-arrange-icon-Onetwo ul li:last-child div a div {
  text-align: left;
  display: inline-block;
  margin: 0rem 0.2rem;
  vertical-align: middle;
}
.m-arrange-icon-Onetwo ul li:last-child div a div p {
  margin-bottom: 0rem;
}
.m-arrange-icon-Onetwo ul li:last-child div:first-child {
  border-bottom: 1px solid #e2e2e2;
}
.m-arrange-icon-Onetwo ul li:last-child .m-font-title {
  font-size: 0.42rem;
  line-height: 1.4;
  color: #2B2B2B;
}
.m-arrange-icon-Onetwo ul li:last-child .m-font-content {
  line-height: 1.4;
  font-size: 0.34rem;
  color: #888888;
}
.m-arrange-icon-Onetwo .mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-object {
  width: 1.6rem;
}
.line {
  color: #E1E1E1;
  height: 0.24rem;
  background-color: #efeff4;
}
.m-arrage-recommend {
  font-size: 0.34rem;
  background-color: #FFF;
  line-height: 1.2;
  margin-bottom: 0rem;
  border-bottom: 1px solid #e2e2e2;
}
.m-arrage-recommend p:first-child {
  padding: 0.2rem 0rem;
  margin-bottom: 0rem;
}
.m-arrage-recommend p:first-child span {
  font-size: 0.34rem;
  margin: 0.2rem 0.4rem 0rem;
}
.m-arrage-recommend p:first-child span img {
  width: 0.33rem;
  margin: 0rem 0.12rem;
  vertical-align: middle;
}
.m-arrange-recomDoc {
  height: 1.46rem;
  display: table;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-top: 0.2rem;
  background-color: #FFF;
}
.m-arrange-recomDoc .m-arrange-Doc {
  height: 2.9rem;
  width: 680px;
  white-space: nowrap;
  overflow-x: auto;
  margin-bottom: -0.02rem;
}
.m-arrange-recomDoc .m-arrange-Doc a div {
  margin: auto;
}
.m-arrange-recomDoc .m-arrange-Doc a div img {
  width: 1.6rem;
}
.m-arrange-recomDoc .m-arrange-Doc a div span {
  position: absolute;
  top: 1.3rem;
  left: 1.6rem;
  z-index: 11;
}
.m-arrange-recomDoc .m-arrange-Doc a div span img {
  width: 0.34rem;
}
.m-arrange-recomDoc .m-arrange-Doc a p {
  font-size: 0.34rem;
  margin-bottom: 0rem;
  line-height: 1.2;
}
.m-content-hospitalpri {
  padding: 0.12rem;
  margin: 0.2rem 0.13rem 0rem 0.13rem;
}
.m-content-hospitalpri .m-content-hostitle {
  font-size: 0.34rem;
  padding: 0.2rem 0rem;
  border-bottom: 1px solid #e2e2e2;
}
.m-content-hospitalpri .m-content-hostitle img {
  vertical-align: middle;
  width: 0.33rem;
  margin: 0rem 0.13rem;
}
.m-content-hospitalpri .m-content-hostitle span {
  font-size: 0.34rem;
  line-height: 1.2;
}
.m-content-hospitalpri .m-hospitalpri-hospimg {
  line-height: 1.4;
  height: 2rem;
  max-width: 2.7rem;
  /*margin: 0.2rem 0rem;*/
}
.m-content-hospitalpri .m-hospitalpri-content div:first-child {
  font-size: 0.42rem;
  line-height: 1.4;
  color: #2b2b2b;
}
.m-content-hospitalpri .m-hospitalpri-content p {
  font-size: 0.34rem;
  line-height: 1.4;
  color: #2b2b2b;
}
.m-content-hospitalpri .m-hospitalpri-content div:last-child {
  font-size: 0.32rem;
  line-height: 1.4;
  margin-top: 0.05rem;
}
.m-content-hospitalpri .m-hospitalpri-content div:last-child p {
	margin-top: 0.1rem;
  color: #888888;
}
.m-content-hospitalpri .m-hospitalpri-content div:last-child p img {
  width: 0.24rem;
}
.m-content-hospitalpri .m-hospitalpri-content div:last-child p span {
  margin-left: 0.16rem;
}
.m-content-hospitalpriNo {
  margin: 0.2rem 0rem 0rem 0rem;
}
/*普通列表的样式*/
.c_choose_commonlist .c_choose_cmcontent {
  padding: 0.48rem 0.54rem 0.48rem 0.54rem;
  font-size: 0.26rem;
  line-height: 1.2;
  border-bottom: 0.02rem solid #E5E5E5;
  color: #000;
}
.c_choose_commonlist .c_choose_cmlineM {
  height: 0.48rem;
  background-color: #F7F9F8;
}
.c_choose_commonlist .c_choose_cmlineL {
  height: 0.2rem;
  background-color: #F7F9F8;
}
.c_choose_commonlist .c_choose_cmcontentB {
  padding: 0.48rem 0rem 0.48rem 0.54rem;
  font-size: 0.36000000000000004rem;
  line-height: 1.2;
  border-bottom: 0.02rem solid #E5E5E5;
  background-color: #FFF;
  color: #464646;
}
.c_choose_commonlist .c_choose_cmcontentB img {
  width: 0.88rem;
  margin-right: 0.5rem;
  vertical-align: middle;
}
.c_choose_commonlist .c_choose_cmcontentB:hover {
  background-color: #E1E1E1;
}
.c_choose_commonlist .c_choose_cmconwwwAgency {
  padding: 0.48rem 0rem 0.48rem 0.54rem;
  font-size: 0.36000000000000004rem;
  line-height: 1.2;
  margin: 0.22rem 0rem;
  border: 2px solid #2eaedf;
  background-color: #FFF;
  color: #2eaedf;
}
.c_choose_commonlist .c_choose_cmconwwwAgency:hover {
  background-color: #2eaedf;
  color: #FFF;
}
.c_choose_commonlist .c_choose_cmcontentPrompt {
  padding: Orem 0.54rem;
  font-size: 0.24rem;
  line-height: 1.2;
  color: #888888;
}
/*输入框的基本样式*/
.c_credit_list {
  background-color: #FFF;
  margin-top: 0.22rem;
}
.c_credit_list p {
  font-size: 0.36000000000000004rem;
  line-height: 1.2;
  color: #001133;
  padding: 0.2rem 0.3rem;
}
.c_credit_list p:first-child {
  border-bottom: 0.02rem solid #E5E5E5;
  padding: 0.36rem 0.3rem;
}
.c_credit_list p:first-child img {
  width: 0.88rem;
  margin-right: 0.5rem;
  vertical-align: middle;
}
.c_credit_base {
  margin: 0rem 0.22rem;
}
.c_credit_baseTop {
  margin: 0.22rem 0rem;
}
.c_credit_basebor {
  border: 2px solid #2eaedf;
}
.c_credit_add .c_credit_form {
  font-size: 0.36000000000000004rem;
  line-height: 1.2;
}
.c_credit_add .c_credit_form div {
  border-bottom: 0.02rem solid #E5E5E5;
  padding: 0.3rem 0.3rem;
  vertical-align: middle;
}
.c_credit_add .c_credit_form div label {
  color: #001133;
  margin-right: 0.5rem;
}
.c_credit_add .c_credit_form div input {
  width: 70%;
  font-size: 0.36000000000000004rem;
  line-height: 1.4;
  height: 0.8rem;
  border: 0rem;
  margin-bottom: 0rem;
}
/*基本下方悬浮按钮*/
.c_button_basestyle .c_button_basefull {
  color: #FFF;
  height: 1.34rem;
  line-height: 1.34rem;
  width: 100%;
  font-size: 0.44999999999999996rem;
  line-height: 1.2;
}
.c_button_basestyle .c_button_basehalf {
  color: #FFF;
  height: 1.34rem;
  line-height: 1.34rem;
  width: 50%;
  font-size: 0.44999999999999996rem;
  line-height: 1.2;
  display: inline-block;
}
.c_button_basestyle .c_button_addfull {
  color: #1c60dd;
  height: 1.34rem;
  line-height: 1.34rem;
  width: 100%;
  font-size: 0.44999999999999996rem;
  line-height: 1.2;
  margin: 0.8rem 0rem;
}
/*基础背景色*/
.c_background_red {
  background-color: #ff5f5a;
}
.c_background_blue {
  background-color: #1c60dd;
}
.c_background_wblue {
  background-color: #2eaedf;
}
.c_background_shade {
  background-color: #888888;
}
.c_background_wwwblue {
  background-color: #2eaedf;
}
/*基础字色*/
.c_color_blue {
  color: #2eaedf;
}
.c_color_shade {
  color: #888888;
}
.c_color_orange {
  color: #ff6b50;
}
/*# sourceMappingURL=physical.css.map */
